body {
    margin: 0;
    /* background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%); */
}

.title {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.main {
    margin: 0 auto;
}
h4 {
    margin-top: 10px;
}

form {
    text-align: center;
    margin-bottom: 50px;
}
.text-post {
    font-family: "Roboto", sans-serif;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-left: 20px;
    font-size: 28px;
}

input {
    width: 200px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

input:hover {
    border: 1px solid #95e0e7;
    box-shadow: 0 0 2px #95e0e7;
}

button {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    border-radius: 12px;
    background-color: white;
    border: 1px solid #95e0e7;
    box-shadow: 0 0 2px #95e0e7;
    width: 100px;
    padding: 3px;
    margin-left: 10px;
}

button:hover {
    border: 1px solid #74b3b9;
    box-shadow: 0 0 2px #74b3b9;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.images {
    flex-basis: 450px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
}

.images:hover .username-desc {
    display: block;
}

img {
    width: 450px;
    height: auto;
}
.images img:hover {
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 2px #333;
    -webkit-box-shadow: 0 0 7px #333;
}

.username-desc {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.6) 100%
    );
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    padding: 10px;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 600;
    color: white;
    width: 430px;
}

#image-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #294d4a;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}

/* INSIDE MODAL */

.modal {
    position: fixed;
    background-color: #d5dfe5;
    border: 5px solid transparent;
    width: 70%;
    height: 80%;
    top: 15%;
    left: 13%;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    overflow: scroll;
    z-index: 400;
}

.extra {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.x {
    text-align: right;
    padding: 8px;
    margin-right: 5px;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/* MODAL COMMENTS*/

.comments-title-modal {
    font-family: "Roboto", sans-serif;
    margin-left: 130px;
}
.title-in-modal {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.modal p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-align: center;
}
.all-comments {
    max-width: 700px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border: 3px solid transparent;
    border-radius: 6px;
    box-shadow: 0 0 0.5px #d3d3d3;
    margin-left: 132px;
}

.modal img {
    display: flex;
    justify-content: center;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .title img {
        width: 300px;
        height: auto;
    }
    .modal img {
        width: 350px;
    }

    .all-comments {
        margin-right: 10px;
        margin-left: 10px;
    }
    .comments-title-modal {
        margin-right: 10px;
        margin-left: 10px;
    }

    input {
        width: 100px;
        font-size: 14px;
    }
}
